* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.website-header {
  width: 100%;
  height: 75px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, .22);
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-header > .input-container {
  border: 1px solid #8b8b8b;
  width: 25%;
  padding: 7px 12px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
.website-header > .input-container > input {
  border: none;
  outline: none;
  width: 90%;
}
.website-header > .input-container > .search-button {
  width: 33px;
  height: 33px;
  background-image: linear-gradient(to right, #80ff72, #7ee8fa);
  border: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loading-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}


@media screen and (max-width: 900px) {
  .website-header > .input-container {
    width: 45%;
  }
}
@media screen and (max-width: 610px) {
  .website-header > .input-container {
    width: 70%;
  }
  .website-header > .input-container > input {
    width: 85%;
  }
}
@media screen and (max-width: 300px) {
  .website-header > .input-container {
    width: 90%;
  }
}